{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Travel Tourism Management </title>
<link type="text/css" rel="stylesheet" href="{% static 'css/style.css'%}"/>
</head>
<body>
<a href="{% url 'register' %}">Sign-up</a>
<a href="{% url 'login' %}">login</a> &nbsp&nbsp&nbsp
<a href="{% url 'home' %}">Home</a> &nbsp&nbsp&nbsp
<a href="{% url 'logout' %}">Logout</a>
<a href="{% url 'checkpackages' %}">Insert Packages</a>
<a href="{% url 'viewplaces' %}">view Packages</a>
<br><br><br>
{% block 'b1' %}
<h2 align="center"><font color="green"></font> Admin TRAVEL & TOURISM MANAGEMENT </h2>
<div>
    {% for i in messages %}
    <h4 align="center"><font color="red">{{i}}</font></h4>
    {% endfor %}
</div>
{% endblock %}
</body>
</html>
