{% extends 'index.html' %}
{% block 'b1' %}
<h2 align="center"><font color="green">Change password </font></h2>
<form method="post" action="{% url 'changepassword' %}">
    {% csrf_token %}
    <table align="center" border="2">
        <tr>
            <td> Enter User Name</td>
            <td><input type="text" name="uname" required/></td>
        </tr>
        <tr>
            <td> Enter old password</td>
            <td><input type="text" name="uname" required/></td>
        </tr>
        <tr>
            <td> Enter new password</td>
            <td><input type="text" name="uname" required/></td>
        </tr>
        <tr>
            <td align="center"><input type="submit" name="Submit"></td>
            <td align="center"><input type="reset" name="Clear"></td>
        </tr>

    </table>
</form>
{% endblock %}
