{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Travel Tourism Management </title>
<link type="text/css" rel="stylesheet" href="{% static 'css/style.css'%}"/>
</head>
<body  style="background-image: url('{% static 'images/home.jpg' %}');background-repeat:no-repeat;background-size:100%;";>
<a href="{% url 'register' %}">Sign-up</a> &nbsp&nbsp&nbsp
<a href="{% url 'login' %}">login</a> &nbsp&nbsp&nbsp
<a href="{% url 'home' %}">Home</a> &nbsp&nbsp&nbsp
<a href="{% url 'contact' %}">Contact us</a> &nbsp&nbsp&nbsp
<a href="{% url 'about' %}">aboutus</a>&nbsp&nbsp&nbsp
<a href="{% url 'changepassword' %}">change password</a>
<br><br><br>
{% block 'b1' %}
<h2 align="center"><font color="green"></font>  TRAVEL & TOURISM MANAGEMENT </h2>
{% endblock %}
</body>
</html>