{% extends 'adminhome.html' %}
{% block 'b1' %}
<h2 align="center"><font color="green">Insert Packages</font></h2>

<form method="post" action="{% url 'checkpackages' %}">
    {% csrf_token %}
    <table align="center" border="2">
        <tr>
            <td>Enter Tour code </td>
            <td> <input type="text" name="tourcode" required/>
        </tr>
        <tr>
            <td>Enter Tour Name </td>
            <td> <input type="text" name="tourname" required/>
        </tr>
        <tr>
            <td>Enter Tour package </td>
            <td> <input type="text" name="tourpackage" required/>
        </tr>
         <tr>
            <td>Enter Tour Description </td>
            <td> <input type="text" name="desc" required/>
        </tr>
        <tr>
            <td align="center">  <input type="submit" value="Insert"></td>
            <td align="center"><input type="reset" value="clear"> </td>
        </tr>
    </table>

</form>
<div>
    {% for i in messages %}
    <h4 align="center"><font color="red">{{i}}</font></h4>
    {% endfor %}
</div>
{% endblock %}