{% extends 'index.html' %}
{% block 'b1' %}
<h2 align="center"> <font color="green"> Sign - UP </font> </h2>
<form method="post" action="{% url 'checkregisteration' %}">
    {% csrf_token %}
    <table align="center" border="2">
      <tr>
          <td> Enter Name </td>
          <td> <input type="text"  name="name" required/></td>
      </tr>
        <tr>
            <td> Enter Address</td>
            <td> <input type="text" name="addr" required/></td>
        </tr>
        <tr>
        <td> Enter Email Id</td>
            <td><input type="text" name="email" required/></td>
        </tr>
        <tr>
            <td> Enter Phone no</td>
            <td> <input type="text" name="phno" required/></td>
        </tr>
        <tr>
            <td> User Name</td>
            <td> <input type= "text" name="uname" required/></td>
        </tr>
        <tr>
            <td> password</td>
            <td> <input type= "password" name="pwd" required/></td>
        </tr>
        <tr>
            <td> Confirm Password</td>
            <td> <input type="password" name="cpwd" required/></td>
        </tr>
        <tr>
            <td align ="center"><input type="submit" value="Sign-up" ></td>
            <td align="center"><input type="reset" value="clear"></td>
        </tr>

    </table>
</form>
<div>
    {%  for i in messages %}
    <h4><font color="red">{{i}}</font></h4>
    {% endfor %}
</div>

{% endblock %}