{% extends 'ttmhome.html'%}
{% block 'b1' %}
<h2 align="center"><font colour="green">Packages available</font></h2>
<table border="2" align="center">
    <tr>
        <thead bgcolor="lightpink">
        <td>Tour Code</td>
        <td> Tour name</td>
        <td> Tour package</td>
        <td> Description</td>
        </thead>
    </tr>
    {% for i in placesdata %}
    <tr align="center">
        <td>{{i.tourcode}} </td>
        <td>{{i.tourname}} </td>
        <td>{{i.tourpackage}}</td>
        <td>{{i.desc}} </td>
    </tr>
    {% endfor %}
</table>

{% endblock %}
